// where custom style goes
@import '../bourbon/bourbon';
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Raleway:200,100);


// variables

$gray: #656565;
$grayLighter: #999999;
$milkyGray: #c8c8c8;


// end variables


body {
    font-family: "Helvetica",sans-serif;
}

p, h3, h4, h5 {
    font-family: 'Crimson Text', "Helvetica", sans-serif;
    color: $gray;
}

h1, h2, a {
    font-family: 'Raleway', "Helvetica", sans-serif;
    font-weight: 200;
    color: $gray;
}

.touch h2 {
    font-size: 3em;

}

.borderTop {
    border-top: 5px solid $gray;
    padding-top: 15px;
}

h2 {
    color: $grayLighter;

    font-size: 8em;
    font-weight: 100;
}

.textCenter {
    text-align: center !important;
}

.menuBg {
    background: #fff;
}

article.briefDesc {
    @include clearfix;
    p {
        font-size: 1.3em;
        text-align: left;
    }
}
    .imageCircle {
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        @include border-left-radius(50%);
        @include border-right-radius(50%);
        overflow: hidden;
        border: solid #999 1px;
        height: 300px;
        width: 300px;
        margin: 0 auto;
    }

    .strategy {
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        @include border-left-radius(50%);
        @include border-right-radius(50%);
        overflow: hidden;
        border: solid #999 3px;
        margin: 0 auto;
    }

@for $i from 1 through 6 {
    .project#{$i} {
        width: 300px;
        height: 300px;
        background: url("../images/projects/image#{$i}sketch.png") no-repeat top left;
        border: none;
        @include transition (all 0.3s $ease-out-quint);
        &:hover {
            background: url("../images/projects/image#{$i}.png") no-repeat top left;
            border: solid #999 3px;
            cursor: pointer;
        }
    }
}


// Project Page

@for $i from 1 through 6 {
    .project#{$i}thumb1, .project#{$i}thumb2, .project#{$i}thumb3, .project#{$i}thumb4, .project#{$i}thumb5, .project#{$i}thumb6 {
        height: 130px;
        background: url("../images/projects/project#{$i}/thumbs/thumbs1.png") no-repeat top left;
        background-size: 130px;
        @include transition (all 2s $ease-out-quint);
        &:hover {
            background: url("../images/projects/project#{$i}/thumbs/image1.png") no-repeat top left;
            background-size: 130px;
            cursor: pointer;
        }
    }

    .project#{$i}thumb2 {
        background: url("../images/projects/project#{$i}/thumbs/thumbs2.png") no-repeat top left;
            background-size: 130px;
        &:hover {
            background: url("../images/projects/project#{$i}/thumbs/image2.png") no-repeat top left;
            background-size: 130px;
        }
    }

    .project#{$i}thumb3 {
        background: url("../images/projects/project#{$i}/thumbs/thumbs3.png") no-repeat top left;
            background-size: 130px;
        &:hover {
            background: url("../images/projects/project#{$i}/thumbs/image3.png") no-repeat top left;
            background-size: 130px;
        }
    }

    .project#{$i}thumb4 {
        background: url("../images/projects/project#{$i}/thumbs/thumbs4.png") no-repeat top left;
            background-size: 130px;
        &:hover {
            background: url("../images/projects/project#{$i}/thumbs/image4.png") no-repeat top left;
            background-size: 130px;
        }
    }

    .project#{$i}thumb5 {
        background: url("../images/projects/project#{$i}/thumbs/thumbs5.png") no-repeat top left;
            background-size: 130px;
        &:hover {
            background: url("../images/projects/project#{$i}/thumbs/image5.png") no-repeat top left;
            background-size: 130px;
        }
    }

    .project#{$i}thumb6 {
        background: url("../images/projects/project#{$i}/thumbs/thumbs6.png") no-repeat top left;
            background-size: 130px;
        &:hover {
            background: url("../images/projects/project#{$i}/thumbs/image6.png") no-repeat top left;
            background-size: 130px;
        }
    }
}



// project 1 end


    .red {border: solid #e53238 3px;}
    .yellow {border: solid #f5af34 3px;}
    .blue {border: solid #0064d1 3px;}
    .green {border: solid #85b838 3px;}


.icon-ok-circled-1 { color: #85b838; }


.strategyContainer {
    width: 100%;
    @include clearfix;
    background: url("../images/grid.png") repeat;
    padding-bottom: 11px;
}

.splitStrategy {
    width: 100%;
    height: 122px;
    background: url("../images/grid2.png") repeat-x;
    background-position: 0px 1px;
    opacity: 0.8;
}
.splitStrategyb {
    width: 100%;
    height: 122px;
    background: url("../images/gridb.png") repeat-x;
    opacity: 0.8;
}

.MarginTop {
    margin-top: 40px !important;
}

.FooterContainer {
    background: $grayLighter;
    @include clearfix;
    footer {
    // border-top: 2px solid $gray;
        margin-top: 25px;
        h1, a, p {
            color: #fff;
        }
        div {
            margin: 0 auto;
            color: #fff;
                font-size: 0.8em;
            a {
                text-decoration: none;
                font-size: 0.8em;
                @include transition (all 0.3s ease-in-out);
                &:hover {
                    color: $milkyGray;
                }
            }
        }
        .Socials {
            margin: 25px auto;
            a {
                font-size: 4em;
                @include transition (all 0.3s ease-in-out);

                &:hover {
                    color: $milkyGray;
                }
            }
        }
    }

}


// fixes

@media only screen and (min-width: 768px) {

.top-bar-section {
    @include clearfix;
        margin: 0 auto;
        width: 380px;
    }

    .imageCircle {
        height: 400px;
        width: 400px;
    }
}



.top-bar-section ul li > a {
    @include transition (all 0.3s ease-in-out);
}

.phonecontact {
    text-align: center;
    .icon-phone {
        font-size: 8em;
        color: $gray;
    }
}

// fixes end


.imageHolderLink {
    margin-bottom: 20px;
}

h2.H2Header {
    font-size: 4em;
}