@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Raleway:200,100);
body {
  font-family: "Helvetica",sans-serif; }

p, h3, h4, h5 {
  font-family: 'Crimson Text', "Helvetica", sans-serif;
  color: #656565; }

h1, h2, a {
  font-family: 'Raleway', "Helvetica", sans-serif;
  font-weight: 200;
  color: #656565; }

.touch h2 {
  font-size: 3em; }

.borderTop {
  border-top: 5px solid #656565;
  padding-top: 15px; }

h2 {
  color: #999999;
  font-size: 8em;
  font-weight: 100; }

.textCenter {
  text-align: center !important; }

.menuBg {
  background: #fff; }

article.briefDesc {
  *zoom: 1; }
  article.briefDesc:before, article.briefDesc:after {
    content: " ";
    display: table; }
  article.briefDesc:after {
    clear: both; }
  article.briefDesc p {
    font-size: 1.3em;
    text-align: left; }

.imageCircle {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  border: solid #999 1px;
  height: 300px;
  width: 300px;
  margin: 0 auto; }

.strategy {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  border: solid #999 3px;
  margin: 0 auto; }

.project {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image1sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .project:hover {
    background: url("../images/projects/image1.png") no-repeat top left;
    border: solid #999 3px;
    cursor: pointer; }

.projectthumb1, .projectthumb2, .projectthumb3, .projectthumb4, .projectthumb5, .projectthumb6 {
  height: 130px;
  background: url("../images/projects/project1/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); }
  .projectthumb1:hover, .projectthumb2:hover, .projectthumb3:hover, .projectthumb4:hover, .projectthumb5:hover, .projectthumb6:hover {
    background: url("../images/projects/project1/thumbs/image1.png") no-repeat top left;
    background-size: 130px;
    cursor: pointer; }

.projectthumb2 {
  background: url("../images/projects/project1/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px; }
  .projectthumb2:hover {
    background: url("../images/projects/project1/thumbs/image2.png") no-repeat top left;
    background-size: 130px; }

.projectthumb3 {
  background: url("../images/projects/project1/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px; }
  .projectthumb3:hover {
    background: url("../images/projects/project1/thumbs/image3.png") no-repeat top left;
    background-size: 130px; }

.projectthumb4 {
  background: url("../images/projects/project1/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px; }
  .projectthumb4:hover {
    background: url("../images/projects/project1/thumbs/image4.png") no-repeat top left;
    background-size: 130px; }

.projectthumb5 {
  background: url("../images/projects/project1/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px; }
  .projectthumb5:hover {
    background: url("../images/projects/project1/thumbs/image5.png") no-repeat top left;
    background-size: 130px; }

.red {
  border: solid #e53238 3px; }

.yellow {
  border: solid #f5af34 3px; }

.blue {
  border: solid #0064d1 3px; }

.green {
  border: solid #85b838 3px; }

.icon-ok-circled-1 {
  color: #85b838; }

.strategyContainer {
  width: 100%;
  *zoom: 1;
  background: url("../images/grid.png") repeat;
  padding-bottom: 11px; }
  .strategyContainer:before, .strategyContainer:after {
    content: " ";
    display: table; }
  .strategyContainer:after {
    clear: both; }

.splitStrategy {
  width: 100%;
  height: 122px;
  background: url("../images/grid2.png") repeat-x;
  background-position: 0px 1px;
  opacity: 0.8; }

.splitStrategyb {
  width: 100%;
  height: 122px;
  background: url("../images/gridb.png") repeat-x;
  opacity: 0.8; }

.MarginTop {
  margin-top: 40px !important; }

.FooterContainer {
  background: #999999;
  *zoom: 1; }
  .FooterContainer:before, .FooterContainer:after {
    content: " ";
    display: table; }
  .FooterContainer:after {
    clear: both; }
  .FooterContainer footer {
    margin-top: 25px; }
    .FooterContainer footer h1, .FooterContainer footer a, .FooterContainer footer p {
      color: #fff; }
    .FooterContainer footer div {
      margin: 0 auto;
      color: #fff;
      font-size: 0.8em; }
      .FooterContainer footer div a {
        text-decoration: none;
        font-size: 0.8em;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .FooterContainer footer div a:hover {
          color: #c8c8c8; }
    .FooterContainer footer .Socials {
      margin: 25px auto; }
      .FooterContainer footer .Socials a {
        font-size: 4em;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .FooterContainer footer .Socials a:hover {
          color: #c8c8c8; }

@media only screen and (min-width: 768px) {
  .top-bar-section {
    *zoom: 1;
    margin: 0 auto;
    width: 380px; }
    .top-bar-section:before, .top-bar-section:after {
      content: " ";
      display: table; }
    .top-bar-section:after {
      clear: both; }

  .imageCircle {
    height: 400px;
    width: 400px; } }
.top-bar-section ul li > a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.phonecontact {
  text-align: center; }
  .phonecontact .icon-phone {
    font-size: 8em;
    color: #656565; }
