@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Raleway:200,100);
/* line 17, ../sass/main.scss */
body {
  font-family: "Helvetica",sans-serif;
}

/* line 21, ../sass/main.scss */
p, h3, h4, h5 {
  font-family: 'Crimson Text', "Helvetica", sans-serif;
  color: #656565;
}

/* line 26, ../sass/main.scss */
h1, h2, a {
  font-family: 'Raleway', "Helvetica", sans-serif;
  font-weight: 200;
  color: #656565;
}

/* line 32, ../sass/main.scss */
.touch h2 {
  font-size: 3em;
}

/* line 37, ../sass/main.scss */
.borderTop {
  border-top: 5px solid #656565;
  padding-top: 15px;
}

/* line 42, ../sass/main.scss */
h2 {
  color: #999999;
  font-size: 8em;
  font-weight: 100;
}

/* line 49, ../sass/main.scss */
.textCenter {
  text-align: center !important;
}

/* line 53, ../sass/main.scss */
.menuBg {
  background: #fff;
}

/* line 57, ../sass/main.scss */
article.briefDesc {
  *zoom: 1;
}
/* line 18, ../bourbon/addons/_clearfix.scss */
article.briefDesc:before, article.briefDesc:after {
  content: " ";
  display: table;
}
/* line 23, ../bourbon/addons/_clearfix.scss */
article.briefDesc:after {
  clear: both;
}
/* line 59, ../sass/main.scss */
article.briefDesc p {
  font-size: 1.3em;
  text-align: left;
}

/* line 64, ../sass/main.scss */
.imageCircle {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  border: solid #999 1px;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

/* line 76, ../sass/main.scss */
.strategy {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  border: solid #999 3px;
  margin: 0 auto;
}

/* line 86, ../sass/main.scss */
.project {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image1sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 92, ../sass/main.scss */
.project:hover {
  background: url("../images/projects/image1.png") no-repeat top left;
  border: solid #999 3px;
  cursor: pointer;
}

/* line 103, ../sass/main.scss */
.projectthumb1, .projectthumb2, .projectthumb3, .projectthumb4, .projectthumb5, .projectthumb6 {
  height: 130px;
  background: url("../images/projects/project1/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 108, ../sass/main.scss */
.projectthumb1:hover, .projectthumb2:hover, .projectthumb3:hover, .projectthumb4:hover, .projectthumb5:hover, .projectthumb6:hover {
  background: url("../images/projects/project1/thumbs/image1.png") no-repeat top left;
  background-size: 130px;
  cursor: pointer;
}

/* line 115, ../sass/main.scss */
.projectthumb2 {
  background: url("../images/projects/project1/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px;
}
/* line 118, ../sass/main.scss */
.projectthumb2:hover {
  background: url("../images/projects/project1/thumbs/image2.png") no-repeat top left;
  background-size: 130px;
}

/* line 124, ../sass/main.scss */
.projectthumb3 {
  background: url("../images/projects/project1/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px;
}
/* line 127, ../sass/main.scss */
.projectthumb3:hover {
  background: url("../images/projects/project1/thumbs/image3.png") no-repeat top left;
  background-size: 130px;
}

/* line 133, ../sass/main.scss */
.projectthumb4 {
  background: url("../images/projects/project1/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px;
}
/* line 136, ../sass/main.scss */
.projectthumb4:hover {
  background: url("../images/projects/project1/thumbs/image4.png") no-repeat top left;
  background-size: 130px;
}

/* line 142, ../sass/main.scss */
.projectthumb5 {
  background: url("../images/projects/project1/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px;
}
/* line 145, ../sass/main.scss */
.projectthumb5:hover {
  background: url("../images/projects/project1/thumbs/image5.png") no-repeat top left;
  background-size: 130px;
}

/* line 153, ../sass/main.scss */
.red {
  border: solid #e53238 3px;
}

/* line 154, ../sass/main.scss */
.yellow {
  border: solid #f5af34 3px;
}

/* line 155, ../sass/main.scss */
.blue {
  border: solid #0064d1 3px;
}

/* line 156, ../sass/main.scss */
.green {
  border: solid #85b838 3px;
}

/* line 159, ../sass/main.scss */
.icon-ok-circled-1 {
  color: #85b838;
}

/* line 162, ../sass/main.scss */
.strategyContainer {
  width: 100%;
  *zoom: 1;
  background: url("../images/grid.png") repeat;
  padding-bottom: 11px;
}
/* line 18, ../bourbon/addons/_clearfix.scss */
.strategyContainer:before, .strategyContainer:after {
  content: " ";
  display: table;
}
/* line 23, ../bourbon/addons/_clearfix.scss */
.strategyContainer:after {
  clear: both;
}

/* line 169, ../sass/main.scss */
.splitStrategy {
  width: 100%;
  height: 122px;
  background: url("../images/grid2.png") repeat-x;
  background-position: 0px 1px;
  opacity: 0.8;
}

/* line 176, ../sass/main.scss */
.splitStrategyb {
  width: 100%;
  height: 122px;
  background: url("../images/gridb.png") repeat-x;
  opacity: 0.8;
}

/* line 183, ../sass/main.scss */
.MarginTop {
  margin-top: 40px !important;
}

/* line 187, ../sass/main.scss */
.FooterContainer {
  background: #999999;
  *zoom: 1;
}
/* line 18, ../bourbon/addons/_clearfix.scss */
.FooterContainer:before, .FooterContainer:after {
  content: " ";
  display: table;
}
/* line 23, ../bourbon/addons/_clearfix.scss */
.FooterContainer:after {
  clear: both;
}
/* line 190, ../sass/main.scss */
.FooterContainer footer {
  margin-top: 25px;
}
/* line 193, ../sass/main.scss */
.FooterContainer footer h1, .FooterContainer footer a, .FooterContainer footer p {
  color: #fff;
}
/* line 196, ../sass/main.scss */
.FooterContainer footer div {
  margin: 0 auto;
  color: #fff;
  font-size: 0.8em;
}
/* line 200, ../sass/main.scss */
.FooterContainer footer div a {
  text-decoration: none;
  font-size: 0.8em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 204, ../sass/main.scss */
.FooterContainer footer div a:hover {
  color: #c8c8c8;
}
/* line 209, ../sass/main.scss */
.FooterContainer footer .Socials {
  margin: 25px auto;
}
/* line 211, ../sass/main.scss */
.FooterContainer footer .Socials a {
  font-size: 4em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 215, ../sass/main.scss */
.FooterContainer footer .Socials a:hover {
  color: #c8c8c8;
}

@media only screen and (min-width: 768px) {
  /* line 229, ../sass/main.scss */
  .top-bar-section {
    *zoom: 1;
    margin: 0 auto;
    width: 380px;
  }
  /* line 18, ../bourbon/addons/_clearfix.scss */
  .top-bar-section:before, .top-bar-section:after {
    content: " ";
    display: table;
  }
  /* line 23, ../bourbon/addons/_clearfix.scss */
  .top-bar-section:after {
    clear: both;
  }

  /* line 235, ../sass/main.scss */
  .imageCircle {
    height: 400px;
    width: 400px;
  }
}
/* line 243, ../sass/main.scss */
.top-bar-section ul li > a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
