@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Raleway:200,100);
body {
  font-family: "Helvetica",sans-serif; }

p, h3, h4, h5 {
  font-family: 'Crimson Text', "Helvetica", sans-serif;
  color: #656565; }

h1, h2, a {
  font-family: 'Raleway', "Helvetica", sans-serif;
  font-weight: 200;
  color: #656565; }

.touch h2 {
  font-size: 3em; }

.borderTop {
  border-top: 5px solid #656565;
  padding-top: 15px; }

h2 {
  color: #999999;
  font-size: 8em;
  font-weight: 100; }

.textCenter {
  text-align: center !important; }

.menuBg {
  background: #fff; }

article.briefDesc {
  *zoom: 1; }
  article.briefDesc:before, article.briefDesc:after {
    content: " ";
    display: table; }
  article.briefDesc:after {
    clear: both; }
  article.briefDesc p {
    font-size: 1.3em;
    text-align: left; }

.imageCircle {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  border: solid #999 1px;
  height: 300px;
  width: 300px;
  margin: 0 auto; }

.strategy {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  border: solid #999 3px;
  margin: 0 auto; }

.project1 {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image1sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .project1:hover {
    background: url("../images/projects/image1.png") no-repeat top left;
    border: solid #999 3px;
    cursor: pointer; }

.project2 {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image2sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .project2:hover {
    background: url("../images/projects/image2.png") no-repeat top left;
    border: solid #999 3px;
    cursor: pointer; }

.project3 {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image3sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .project3:hover {
    background: url("../images/projects/image3.png") no-repeat top left;
    border: solid #999 3px;
    cursor: pointer; }

.project4 {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image4sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .project4:hover {
    background: url("../images/projects/image4.png") no-repeat top left;
    border: solid #999 3px;
    cursor: pointer; }

.project5 {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image5sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .project5:hover {
    background: url("../images/projects/image5.png") no-repeat top left;
    border: solid #999 3px;
    cursor: pointer; }

.project6 {
  width: 300px;
  height: 300px;
  background: url("../images/projects/image6sketch.png") no-repeat top left;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  .project6:hover {
    background: url("../images/projects/image6.png") no-repeat top left;
    border: solid #999 3px;
    cursor: pointer; }

.project1thumb1, .project1thumb2, .project1thumb3, .project1thumb4, .project1thumb5, .project1thumb6 {
  height: 130px;
  background: url("../images/projects/project1/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); }
  .project1thumb1:hover, .project1thumb2:hover, .project1thumb3:hover, .project1thumb4:hover, .project1thumb5:hover, .project1thumb6:hover {
    background: url("../images/projects/project1/thumbs/image1.png") no-repeat top left;
    background-size: 130px;
    cursor: pointer; }

.project1thumb2 {
  background: url("../images/projects/project1/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px; }
  .project1thumb2:hover {
    background: url("../images/projects/project1/thumbs/image2.png") no-repeat top left;
    background-size: 130px; }

.project1thumb3 {
  background: url("../images/projects/project1/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px; }
  .project1thumb3:hover {
    background: url("../images/projects/project1/thumbs/image3.png") no-repeat top left;
    background-size: 130px; }

.project1thumb4 {
  background: url("../images/projects/project1/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px; }
  .project1thumb4:hover {
    background: url("../images/projects/project1/thumbs/image4.png") no-repeat top left;
    background-size: 130px; }

.project1thumb5 {
  background: url("../images/projects/project1/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px; }
  .project1thumb5:hover {
    background: url("../images/projects/project1/thumbs/image5.png") no-repeat top left;
    background-size: 130px; }

.project1thumb6 {
  background: url("../images/projects/project1/thumbs/thumbs6.png") no-repeat top left;
  background-size: 130px; }
  .project1thumb6:hover {
    background: url("../images/projects/project1/thumbs/image6.png") no-repeat top left;
    background-size: 130px; }

.project2thumb1, .project2thumb2, .project2thumb3, .project2thumb4, .project2thumb5, .project2thumb6 {
  height: 130px;
  background: url("../images/projects/project2/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); }
  .project2thumb1:hover, .project2thumb2:hover, .project2thumb3:hover, .project2thumb4:hover, .project2thumb5:hover, .project2thumb6:hover {
    background: url("../images/projects/project2/thumbs/image1.png") no-repeat top left;
    background-size: 130px;
    cursor: pointer; }

.project2thumb2 {
  background: url("../images/projects/project2/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px; }
  .project2thumb2:hover {
    background: url("../images/projects/project2/thumbs/image2.png") no-repeat top left;
    background-size: 130px; }

.project2thumb3 {
  background: url("../images/projects/project2/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px; }
  .project2thumb3:hover {
    background: url("../images/projects/project2/thumbs/image3.png") no-repeat top left;
    background-size: 130px; }

.project2thumb4 {
  background: url("../images/projects/project2/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px; }
  .project2thumb4:hover {
    background: url("../images/projects/project2/thumbs/image4.png") no-repeat top left;
    background-size: 130px; }

.project2thumb5 {
  background: url("../images/projects/project2/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px; }
  .project2thumb5:hover {
    background: url("../images/projects/project2/thumbs/image5.png") no-repeat top left;
    background-size: 130px; }

.project2thumb6 {
  background: url("../images/projects/project2/thumbs/thumbs6.png") no-repeat top left;
  background-size: 130px; }
  .project2thumb6:hover {
    background: url("../images/projects/project2/thumbs/image6.png") no-repeat top left;
    background-size: 130px; }

.project3thumb1, .project3thumb2, .project3thumb3, .project3thumb4, .project3thumb5, .project3thumb6 {
  height: 130px;
  background: url("../images/projects/project3/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); }
  .project3thumb1:hover, .project3thumb2:hover, .project3thumb3:hover, .project3thumb4:hover, .project3thumb5:hover, .project3thumb6:hover {
    background: url("../images/projects/project3/thumbs/image1.png") no-repeat top left;
    background-size: 130px;
    cursor: pointer; }

.project3thumb2 {
  background: url("../images/projects/project3/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px; }
  .project3thumb2:hover {
    background: url("../images/projects/project3/thumbs/image2.png") no-repeat top left;
    background-size: 130px; }

.project3thumb3 {
  background: url("../images/projects/project3/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px; }
  .project3thumb3:hover {
    background: url("../images/projects/project3/thumbs/image3.png") no-repeat top left;
    background-size: 130px; }

.project3thumb4 {
  background: url("../images/projects/project3/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px; }
  .project3thumb4:hover {
    background: url("../images/projects/project3/thumbs/image4.png") no-repeat top left;
    background-size: 130px; }

.project3thumb5 {
  background: url("../images/projects/project3/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px; }
  .project3thumb5:hover {
    background: url("../images/projects/project3/thumbs/image5.png") no-repeat top left;
    background-size: 130px; }

.project3thumb6 {
  background: url("../images/projects/project3/thumbs/thumbs6.png") no-repeat top left;
  background-size: 130px; }
  .project3thumb6:hover {
    background: url("../images/projects/project3/thumbs/image6.png") no-repeat top left;
    background-size: 130px; }

.project4thumb1, .project4thumb2, .project4thumb3, .project4thumb4, .project4thumb5, .project4thumb6 {
  height: 130px;
  background: url("../images/projects/project4/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); }
  .project4thumb1:hover, .project4thumb2:hover, .project4thumb3:hover, .project4thumb4:hover, .project4thumb5:hover, .project4thumb6:hover {
    background: url("../images/projects/project4/thumbs/image1.png") no-repeat top left;
    background-size: 130px;
    cursor: pointer; }

.project4thumb2 {
  background: url("../images/projects/project4/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px; }
  .project4thumb2:hover {
    background: url("../images/projects/project4/thumbs/image2.png") no-repeat top left;
    background-size: 130px; }

.project4thumb3 {
  background: url("../images/projects/project4/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px; }
  .project4thumb3:hover {
    background: url("../images/projects/project4/thumbs/image3.png") no-repeat top left;
    background-size: 130px; }

.project4thumb4 {
  background: url("../images/projects/project4/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px; }
  .project4thumb4:hover {
    background: url("../images/projects/project4/thumbs/image4.png") no-repeat top left;
    background-size: 130px; }

.project4thumb5 {
  background: url("../images/projects/project4/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px; }
  .project4thumb5:hover {
    background: url("../images/projects/project4/thumbs/image5.png") no-repeat top left;
    background-size: 130px; }

.project4thumb6 {
  background: url("../images/projects/project4/thumbs/thumbs6.png") no-repeat top left;
  background-size: 130px; }
  .project4thumb6:hover {
    background: url("../images/projects/project4/thumbs/image6.png") no-repeat top left;
    background-size: 130px; }

.project5thumb1, .project5thumb2, .project5thumb3, .project5thumb4, .project5thumb5, .project5thumb6 {
  height: 130px;
  background: url("../images/projects/project5/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); }
  .project5thumb1:hover, .project5thumb2:hover, .project5thumb3:hover, .project5thumb4:hover, .project5thumb5:hover, .project5thumb6:hover {
    background: url("../images/projects/project5/thumbs/image1.png") no-repeat top left;
    background-size: 130px;
    cursor: pointer; }

.project5thumb2 {
  background: url("../images/projects/project5/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px; }
  .project5thumb2:hover {
    background: url("../images/projects/project5/thumbs/image2.png") no-repeat top left;
    background-size: 130px; }

.project5thumb3 {
  background: url("../images/projects/project5/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px; }
  .project5thumb3:hover {
    background: url("../images/projects/project5/thumbs/image3.png") no-repeat top left;
    background-size: 130px; }

.project5thumb4 {
  background: url("../images/projects/project5/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px; }
  .project5thumb4:hover {
    background: url("../images/projects/project5/thumbs/image4.png") no-repeat top left;
    background-size: 130px; }

.project5thumb5 {
  background: url("../images/projects/project5/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px; }
  .project5thumb5:hover {
    background: url("../images/projects/project5/thumbs/image5.png") no-repeat top left;
    background-size: 130px; }

.project5thumb6 {
  background: url("../images/projects/project5/thumbs/thumbs6.png") no-repeat top left;
  background-size: 130px; }
  .project5thumb6:hover {
    background: url("../images/projects/project5/thumbs/image6.png") no-repeat top left;
    background-size: 130px; }

.project6thumb1, .project6thumb2, .project6thumb3, .project6thumb4, .project6thumb5, .project6thumb6 {
  height: 130px;
  background: url("../images/projects/project6/thumbs/thumbs1.png") no-repeat top left;
  background-size: 130px;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1); }
  .project6thumb1:hover, .project6thumb2:hover, .project6thumb3:hover, .project6thumb4:hover, .project6thumb5:hover, .project6thumb6:hover {
    background: url("../images/projects/project6/thumbs/image1.png") no-repeat top left;
    background-size: 130px;
    cursor: pointer; }

.project6thumb2 {
  background: url("../images/projects/project6/thumbs/thumbs2.png") no-repeat top left;
  background-size: 130px; }
  .project6thumb2:hover {
    background: url("../images/projects/project6/thumbs/image2.png") no-repeat top left;
    background-size: 130px; }

.project6thumb3 {
  background: url("../images/projects/project6/thumbs/thumbs3.png") no-repeat top left;
  background-size: 130px; }
  .project6thumb3:hover {
    background: url("../images/projects/project6/thumbs/image3.png") no-repeat top left;
    background-size: 130px; }

.project6thumb4 {
  background: url("../images/projects/project6/thumbs/thumbs4.png") no-repeat top left;
  background-size: 130px; }
  .project6thumb4:hover {
    background: url("../images/projects/project6/thumbs/image4.png") no-repeat top left;
    background-size: 130px; }

.project6thumb5 {
  background: url("../images/projects/project6/thumbs/thumbs5.png") no-repeat top left;
  background-size: 130px; }
  .project6thumb5:hover {
    background: url("../images/projects/project6/thumbs/image5.png") no-repeat top left;
    background-size: 130px; }

.project6thumb6 {
  background: url("../images/projects/project6/thumbs/thumbs6.png") no-repeat top left;
  background-size: 130px; }
  .project6thumb6:hover {
    background: url("../images/projects/project6/thumbs/image6.png") no-repeat top left;
    background-size: 130px; }

.red {
  border: solid #e53238 3px; }

.yellow {
  border: solid #f5af34 3px; }

.blue {
  border: solid #0064d1 3px; }

.green {
  border: solid #85b838 3px; }

.icon-ok-circled-1 {
  color: #85b838; }

.strategyContainer {
  width: 100%;
  *zoom: 1;
  background: url("../images/grid.png") repeat;
  padding-bottom: 11px; }
  .strategyContainer:before, .strategyContainer:after {
    content: " ";
    display: table; }
  .strategyContainer:after {
    clear: both; }

.splitStrategy {
  width: 100%;
  height: 122px;
  background: url("../images/grid2.png") repeat-x;
  background-position: 0px 1px;
  opacity: 0.8; }

.splitStrategyb {
  width: 100%;
  height: 122px;
  background: url("../images/gridb.png") repeat-x;
  opacity: 0.8; }

.MarginTop {
  margin-top: 40px !important; }

.FooterContainer {
  background: #999999;
  *zoom: 1; }
  .FooterContainer:before, .FooterContainer:after {
    content: " ";
    display: table; }
  .FooterContainer:after {
    clear: both; }
  .FooterContainer footer {
    margin-top: 25px; }
    .FooterContainer footer h1, .FooterContainer footer a, .FooterContainer footer p {
      color: #fff; }
    .FooterContainer footer div {
      margin: 0 auto;
      color: #fff;
      font-size: 0.8em; }
      .FooterContainer footer div a {
        text-decoration: none;
        font-size: 0.8em;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .FooterContainer footer div a:hover {
          color: #c8c8c8; }
    .FooterContainer footer .Socials {
      margin: 25px auto; }
      .FooterContainer footer .Socials a {
        font-size: 4em;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .FooterContainer footer .Socials a:hover {
          color: #c8c8c8; }

@media only screen and (min-width: 768px) {
  .top-bar-section {
    *zoom: 1;
    margin: 0 auto;
    width: 380px; }
    .top-bar-section:before, .top-bar-section:after {
      content: " ";
      display: table; }
    .top-bar-section:after {
      clear: both; }

  .imageCircle {
    height: 400px;
    width: 400px; } }
.top-bar-section ul li > a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.phonecontact {
  text-align: center; }
  .phonecontact .icon-phone {
    font-size: 8em;
    color: #656565; }

.imageHolderLink {
  margin-bottom: 20px; }
